.autocompleteGhostText {
  color: #999 !important;
  border-color: transparent;
}

.qDefTextarea {
  background: transparent !important;
}

.autocompleteGhostText, .qDefTextarea {
  position: absolute;
}
