.autocompleteGhostText {
  color: #999 !important;
  border-color: transparent;
}

.qDefTextarea {
  background: transparent !important;
}

.autocompleteGhostText,
.qDefTextarea,
#termBody > .tr > .defCol > .termx,
.TermContent-side--definition .AutoExpandTextarea-textarea {
  position: absolute;
}

#termBody > .tr > .defCol > .autocompleteInvisibleText.termx,
.AutoExpandTextarea-textarea.autocompleteInvisibleText {
  position: relative;
  visibility: hidden;
}

#termBody > .tr > .defCol {
  position: relative;
}

