.autocompleteGhostText {
  color: #999 !important;
  border-color: transparent;
}

.qDefTextarea {
  background: transparent !important;
}

.autocompleteGhostText, .qDefTextarea, #termBody > .tr > .defCol > .termx {
  position: absolute;
}

#termBody > .tr > .defCol > .autocompleteInvisibleText.termx {
  position: relative;
  visibility: hidden;
}

#termBody > .tr > .defCol {
  position: relative;
}